$dark-purple: #070F2B;
$purple: #201658;
$light-purple: #1B1A55;
$dark-blue: #1D24CA;
$dark-mauve: #535C91;
$mauve: #9290C3;
$light-blue: #98ABEE;
$yellow: #F9E8C9;
$turquoise: #52D3D8;
$dark-turquoise: #3887BE;
$navy: #38419D;

body {
  background-color: $light-blue;

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    max-height: 500px;
    overflow-y: auto;

    div {
        display: flex;

        &.container {
            flex-direction: column;
            justify-content: center;
            margin: 50px auto;
            padding: 0px 1% 15px;
            min-width: 88%;
            border-radius: 5px;
            background-color: $yellow;
            border: 2px solid $dark-blue;

            label {
                margin-top: 5px;
                width: 50%;
                text-align: left;   
                color: $dark-mauve;
                border-radius: 5px;
                padding: 5px;
            }
        }

        &.inputContainer {
            flex-direction: row;
            align-items: center;
            min-width: 100%;

            input {
                min-width: 70%;
                height: 34px;
                border: 2px solid $dark-mauve;
                border-radius: 5px 0px 0px 5px;

                &:focus {
                    outline: none;
                    border-color: $dark-blue;
                }
            }

            button {
                min-width: 20%;
                height: 40px;
                border-radius: 0px 5px 5px 0px;
            }
        }
    }

    table {
        min-width: 90%;
    }

    &#currentRecordings {

        table {
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 10px;
            overflow: hidden;

            caption{
                text-align: left;  
                padding: 10px 25px 10px;
                margin: 5px 1px;
                border-radius: 5px;
                background-color: $dark-blue;
                font-weight: bold;
                color: $yellow;
            }

            th,
            td {
                padding: 10px 0px 15px;
                min-width: 25%;
                text-align: center;
            }

            th {
                background-color: $dark-blue;
                color: $yellow;

                &:first-child{
                    border-top-left-radius: 10px;
                }

                &:last-child{
                    border-top-right-radius: 10px;
                }
            }

            td {
                align-items: center;
                background-color: $yellow;
                color: $dark-blue;
                border-top: 2px solid $navy;  
                
                &.actions * {
                    min-width: 40%;
                    margin-right: 4%;
                    margin-left: 4%;
                }
            }
        }
    }

    &#recordingArray {

        table{
            display: flex;
            flex-direction: column;
            border-radius: 10px;

            caption {
                text-align: left;  
                padding: 10px 7px 10px;
                margin: 1px;
                border-radius: 5px;
                background-color: $dark-blue;
                font-weight: bold;
                color: $yellow;
                min-width: 100%;
            }

            tbody {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                min-width: 100%;
                
                tr {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;

                    &.public td {
                        background-color: $dark-turquoise;
                    }

                    &.recording.public, &.public.recording  td {
                        background-color: $turquoise;
                    }

                    th,
                    td {
                        padding: 10px 0px;
                        min-width: 25%;
                        border: 2px solid $light-blue;
                        border-radius: 10px;
                    }

                    th {
                        background-color: $dark-blue;
                        color: $yellow;
                    }

                    td {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $yellow;
                        color: $dark-blue;
                        height: 60px;
                        text-align: center;

                        &.recordingButtons * {
                            min-width: 40%;
                            margin-right: 4%;
                            margin-left: 4%;
                        }

                        &.url {
                            font-size: 14px;
                            overflow-y: hidden;
                        }

                        input.switch{

                            appearance: none;
                            position: relative;
                            display: inline-block;
                            min-width: 70px;
                            height: 30px;
                            border-radius: 25px;
                            background-color: $light-blue;
                            transition: background 0.5s;
                            outline: none;
                            cursor: pointer;

                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 15px;
                                transform: translate(-50%, -50%);
                                border-radius: 50%;
                                height: 23px;
                                width: 23px;
                                background-color: $navy;
                                transition: left 0.5s;
                            }
                    
                            &:checked {
                                background-color: $navy;
                            }
                    
                            &:checked::after {
                                background-color: $light-blue;
                                left: unset;
                                right: -8px;   
                            }
                        }
                    }
                }
            }
        }
    }

    button {
        border: none;
        background-color: $dark-mauve;
        color: $yellow;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        padding: 10px;
        font-size: 12px;

        &:hover {
            background-color: $dark-blue;
            color: $yellow;
        }

        &.recordingButton,
        &.delete,
        &.stop {
            width: 100px;
            margin: 5px;
            border-radius: 4px;
        }
    }
  }
}